#menu-main{
    padding-top: 90px;
}
#menu-main{
    background-color: var(--one-color);
    box-shadow: inset 12px 0 50vw rgba(0, 0, 0, 0.7);
}

.upper-menu{
    display: flex;
    justify-content: space-between;
}
.upper-menu h1{
    text-align: start;
    margin-left: 90px;
    font-family: var(--three-font);
    font-weight: 700;
    font-size: 2.5em;
    color: var(--white-color);
}

.food-category{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin: 100px auto auto auto;
    max-width: 700px;
    min-width: 200px;
}

.food-container{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
    border-radius: 3px;
    min-width: 20vw;
    max-width: 30vw;
    transition: scale .1s;
    background-color: white;
    margin-bottom: 50px;
}
.food-container:hover{
    background-color: rgb(243, 242, 242);
    scale: 1.05;
}
.food-container img{
    width: 180px;
    height: 180px;
    padding: 20px;
}
.food-container:hover img{
    transition: all .1s ease .03s;
    scale: 1.3;
}

@media(max-width: 800px){
    #menu-main{
        padding-top: 150px;
    }

    .food-container{
        min-width: 55vw;
    }

    .upper-menu h1{
        margin-left: 45px;
    }
    .upper-menu .input-field{
        margin-right: 45px;
    }
}