@media(max-width: 800px)
{
    #table-header{
        flex-flow: column;
    }
    #buy-button button{
        margin: 10px 0px 10px 0;
        transition: all .5s;
        font-family: var(--one-font);
        font-weight: 500;
    }

    .quantity-categorie-number::after{
        content: 'Qnt';
    }

    #table-itens li p{
        font-size: 13px;
    }

    #view-product{
        width: 40vw;
        margin: 10px auto;
    }
}