:root{
    --one-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --two-font: Quattrocento;
    --three-font: 'Caveat', cursive;

    --one-color: #56484F;
    --two-color: #4C312D;
    --three-color: #93A350;
    --four-color: #EE6A41;
    --white-color: #fdf3e7;
}